
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
RewriteRule ^(app) - [F,L]
RewriteRule ^(.vscode) - [F,L]

<files .gitignore>
order allow,deny
deny from all
</files>

 